body {
    font-family: 'Pacifico', cursive;
    background: linear-gradient(to bottom, #f4ebdf, #fae7fc);
    margin: 0;
    overflow-x: hidden;
}

.description-card-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: transparent;
    border-radius: 10px;
    padding: 20px;
    width: 830px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.description-card-image-background {
    flex: 1;
    background-color: #f4e1c3;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description-card-product-image {
    width: 250px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.description-card-details-section {
    flex: 2;
    padding-left: 30px;
    color: #ebaa6c;
}

.description-card-product-name {
    font-size: 40px;
    color: #ebaa6c;
    margin-bottom: 10px;
    text-align: center;
}

.description-card-product-description {
    font-size: 18px;
    line-height: 1.6;
    margin-top: 10px;
    color: #ebaa6c;
}

.description-card-section-title {
    font-size: 20px;
    margin-top: 20px;
    color: #ebaa6c;
}

.description-card-product-ingredients,
.description-card-allergy-info {
    font-size: 18px;
    color: #e9a96b;
    margin: 5px 0;
}

.description-card-product-price {
    font-size: 18px;
    color: #e9a96b;
    margin-left: 5px;
}

.description-card-add-to-cart-btn,
.description-card-preorder-btn,
.description-card-book-event-btn {
    background-color: #fdf0e1;
    border: 2px solid #ebaa6c;
    border-radius: 5px;
    color: #ebaa6c;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.description-card-add-to-cart-btn:hover,
.description-card-preorder-btn:hover,
.description-card-book-event-btn:hover {
    background-color: #ebaa6c;
    color: #fff;
}

@media (max-width: 768px) {
    .description-card-container {
        flex-direction: column;
        align-items: center;
        padding: 15px;
        width: 200px;
    }

    .description-card-product-image {
        width: 180px; 
        height: auto;
        border-radius: 8px;
        margin-bottom: 20px;
    }
    

    .description-card-image-background {
        width: 100%;
        max-width: 170px;
        margin-bottom: 20px;
    }

    .description-card-details-section {
        width: 100%;
        padding-left: 0;
    }

    .description-card-product-name {
        font-size: 32px;
    }

    .description-card-product-description,
    .description-card-product-ingredients,
    .description-card-allergy-info,
    .description-card-product-price {
        font-size: 16px;
    }

    .description-card-section-title {
        font-size: 18px;
    }

    .description-card-add-to-cart-btn,
    .description-card-preorder-btn,
    .description-card-book-event-btn {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .description-card-product-name {
        font-size: 28px;
    }

    .description-card-product-image {
        width: 180px; 
        height: auto;
        border-radius: 8px;
        margin-bottom: 20px;
    }

    .description-card-product-description,
    .description-card-product-ingredients,
    .description-card-allergy-info,
    .description-card-product-price {
        font-size: 14px;
    }

    .description-card-section-title {
        font-size: 16px;
    }

    .description-card-add-to-cart-btn,
    .description-card-preorder-btn,
    .description-card-book-event-btn {
        font-size: 12px;
        padding: 6px 12px;
    }
}
